body,
html {
  height: 100%;
  margin: 0;
}

.alarm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alarm-form {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.alarm-form h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
}

button {
  background-color: rgb(146, 39, 39);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
