{% args cycle_list %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <title>TUP-T Wireless Auto Watering Farming System</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item">
        <div>
          <h1>Soil Moisture Sensor Monitor</h1>
        </div>
        <div>
          <ul class="styled-list">
            <li id="sm_1">Soil Moisture 1: NO-DATA</li>
            <li id="sm_2">Soil Moisture 2: NO-DATA</li>
            <li id="sm_3">Soil Moisture 3: NO-DATA</li>
          </ul>
        </div>
      </div>
      <div class="grid-item">
        <div>
          <h1>Latest Watering Cycle</h1>
        </div>

        <div class="scroll-container">
          <ul id="cycle-list" class="item-list">
            {% if not cycle_list or len(cycle_list) == 0 %}
            <li id="no-cycle-list">No recorded watering cycle yet</li>
            {% endif %} {% for cycle in cycle_list %}
            <li>{{cycle['soil_module']}} - {{cycle['date_time']}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="grid-item">
        <h1>Alarm Settings</h1>
        <div class="currentAlarmTime"><h2>08:00 (24 Hour Format)</h2></div>
        <!-- <button class="big-button">Set Time</button> -->
        <a href="/alarm" class="button-link">Set Alarm</a>
      </div>
      <div class="grid-item">
        <div>
          <h1>System Time</h1>
          <h2 id="system-time" class="system-time">Not Set</h2>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="static/index.js"></script>
  </body>
</html>
