<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>TUP-T Soil Monitoring System</title>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header>
            <h1>TUP-T Soil Monitoring System</h1>
        </header>

        <!-- Content -->
        <main>
            <p>This is the main content of the page.</p>
            <textarea id="message" name="message" rows="10" cols="20">
            </textarea>
        </main>

        <!-- Footer -->
        <footer>
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </footer>
    </div>
    <script src="static/index.js"></script>
</body>
</html>
